body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title1 {
    font-size: 5vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.title2 {
    font-size: 3vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

/* header & Nav */

nav, header {
    text-shadow: 1px 1px 2px black;
    margin-bottom: 0px;
}

/* Nav-Bar */
#logo-img {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* header */

#header-image {
    margin-bottom: 0px;
    text-align: left;
    width: 90%;
}

header {
    padding-top: 150px;
    box-shadow: 0 8px 6px -6px black;
}

.header-detail{
    text-align: center;
    color: white;
    padding-top: 10%;
}

.row h1 {
    font-size: 6vw;
}

.row h2 {
    font-size: 4vw;
}

.row span {
    font-size: 2vw;
}

/* About me section  */

#about {
    margin-top: -50px;
    box-shadow: 0 8px 6px -6px black;
    text-shadow: 1px 1px 1px black;
    text-align: justify;
    font-size:1.2rem;
    padding: 10% 0 12% 0;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about h1 {
    font-size: 5vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

/* portfolio section  */

#portfolio {
    margin-top: -30px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0 8px 6px -6px black;
}    

#portfolio h1 {
    background-color: rgba(255, 255, 255, 0.1);
}
   


#portfolio h3 {
    margin-bottom: 3%;
}

/* contact section  */

#contact {
    margin-top: -30px;
    padding: 75px 50px;
    box-shadow: 0 8px 6px -6px black;
    text-align: center;
}

#contact h1 {
    text-align: left;
}

#contact i {
    padding: 10px;
}

#contact h4 {
    padding: 10px;
}

#contact button {
    margin-top: 10px;
}

/* media section  */
@media screen and (max-width: 900px) {
    .row h1 {
        font-size: 28pt;
    }
    
    .row h2 {
        font-size: 24pt;
    }

    .row span {
        font-size: 20pt;
    }

    #header-image {
        float: right;
        width: 70%;
        margin-right: 50px;
    }

    #about h1 {
        font-size: 20pt;
    }

    .title1 {
        font-size: 20pt;
        padding: 0px;
    }

    .title2 {
        font-size: 16pt;
    }

    #contact {
        margin-top: -30px;
        padding: 40px;
        box-shadow: 0 8px 6px -6px black;
        text-align: center;
    }
}