   @font-face {
    font-family: slimfit;
    src: url(tools/slimfit.otf);    
  }
  
  @font-face {
    font-family: Tusj;
    src: url(tools/Tusj.ttf);    
  }

  @font-face {
      font-family: RedOctober;
      src: url(tools/RedOctober.ttf);    
    }

  @font-face {
    font-family:actionMan ;
    src: url(tools/actionMan.ttf);    
  }

  @font-face {
    font-family:MontserratAlternates ;
    src: url(tools/MontserratAlternates.otf);    
  }


  .title {
    font-family: MontserratAlternates;
    text-shadow: 1px 1px 2px darkblue;
  }


  .center {
     margin: 0 auto;
     text-align: center;
   }

   .bg-my {
     background-color: rgba(106, 168, 219, 0.3);
   }

  .shadow{
    border-top: rgba(0, 0, 0, 0.3) 5px groove;
    border-bottom: rgba(0, 0, 0, 0.3) 5px groove;
    box-shadow: black 0 0 18px;
  }

  #home {
    border-top: none;
    border-bottom: rgba(0, 0, 0, 0.3) 5px groove;
  }
  #resume{
    border-bottom: none;
  }
  /*-----------header-------------*/

  #logo {
     height: 50px;
  }

  #brand {
    color: rgb(16, 16, 133);
    font-family: actionMan;
    text-shadow: 1px 1px 2px white;
  }

  #brandRu {
    color: rgb(16, 16, 133);
    font-family: RedOctober;
    text-shadow: 1px 1px 2px white;
  }


  @media screen and (min-width: 601px) {
    #brand {
          font-size: 20px;
      }
  }


  @media screen and (max-width: 500px) {
    #brand {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 601px) {
    #brandRu {
          font-size: 20px;
      }
  }


  @media screen and (max-width: 500px) {
    #brandRu {
      font-size: 14px;
    }
  }

  .navbar {
      margin-top: 0px;
      padding: 2px 15px;
      font-weight: 900;
      text-shadow: 1px 1px 3px black;
      background-color: rgba(54, 22, 196, 0.3);
      box-shadow: 1px 1px 4px black;
  }

  .header {
      padding-top: 100px;
      padding-bottom: 60px;
      width: 100%; 
      background-image: url(tools/top.jpg);
      background-color: rgb(192, 197, 236);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-position-x: center;
      background-position-y: center;
      background-size: cover;  
      background-repeat: no-repeat; 
      box-shadow: 0px 1px 4px black;
  }
  
  
  
  .active {
    color: black;
    text-shadow: red;
  }
  
  #image {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-image:url(tools/myImg.png);
    background-size: cover;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 0px 1px black;
  }

  .name {
    color:#FFF;
    font-weight: 900;
    font-size: 8vw;
    font-family: MontserratAlternates;
    text-shadow: 1px 1px 4px darkblue;
  }
   .pro{
    text-shadow: 1px 1px 4px black;
    color: #FFF;
    font-size: 5vw;
   } 

/*-----About me-----*/

   #aboutMe {
    width:100%;
    margin: 0 auto;
    padding: 160px 20px;
    text-align: justify;
    justify-content: flex-start;
   }

/*-----Portfolio-----*/

   #portfolio {
     margin: 0 auto;
     text-align: justify;
     justify-content: flex-start;
     padding: 120px 40px;
   }

   .card:hover {
     background-color: rgb(252, 255, 252);
     box-shadow: 2px 2px 4px black;
   }

   

   .card-img-top {
     margin-top: 3px;
     width: 98%;
     height: 250px;
    }
    #projectsRu {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 701px) {
      #portfolioRu {
            font-size: 50px;
        }
    }
  
  
    @media screen and (max-width: 500px) {
      #portfolioRu {
        font-size: 30px;
      }
    }

    @media screen and (min-width: 701px) {
      #projectsRu {
            font-size: 30px;
        }
    }
  
  
    @media screen and (max-width: 500px) {
      #projectsRu {
        font-size: 18px;
      }
    }

    

/*--------Resume------*/

  #resume {
     margin: 0 auto;
     padding: 120px 20px;
   }

   #myImage {
       width: 120px;
       border: 1px solid darkblue;
       border-radius: 5px;
       float: left;
       margin: 0px 20px 0px 0px;
   }

   .resume-body {
       box-shadow: 1px 1px 2px black;
       border: 1px solid gray;
       border-radius: 5px;
       padding: 5px;
       text-shadow: 0px 1px 1px darkblue;
       text-align: left;
   }

   .side-nav{
       background-image:linear-gradient(to bottom, rgb(199, 231, 241),white 50%, rgb(199, 231, 241));
       box-shadow: 1px 1px 2px black;
       border: 1px solid gray;
       border-radius: 5px;
       padding: 5px 5px 0px 5px;
       font-family: MontserratAlternates;
       text-shadow: 0px 1px 1px darkblue;
   }

  @media screen and (min-width: 701px) {
    #sideNav {
          font-size: 25px;
      }
  }


  @media screen and (max-width: 620px) {
    #sideNav {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 400px) {
    #sideNav {
      font-size: 10px;
    }
  }

  @media screen and (min-width: 850px) {
    #sideNavRu {
          font-size: 22px;
      }
  }


  @media screen and (max-width: 610px) {
    #sideNavRu {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 500px) {
    #sideNavRu {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 400px) {
    #sideNavRu {
      font-size: 8.5px;
    }
  }
   
  @media screen and (max-width: 320px) {
    #sideNavRu {
      font-size: 7.5px;
    }
  }

   /*-----------Contact Me -------------*/

   #contactMe {
    margin: 0 auto;
    text-align: justify;
    justify-content: flex-start;
    padding: 120px 40px 10px 40px;
  }

  .size-me {
    width: 275px;
  }

  .rounded-circle {
    width: 50px;
    height: 50px;
    margin-left: 5px;
  }

   @media screen and (min-width: 701px) {
    .conatcts {
          font-size: 50px;
      }
  }


  @media screen and (max-width: 500px) {
    .conatcts {
      font-size: 30px;
    }
  }

  @media screen and (min-width: 701px) {
    .my-email {
          font-size: 40px;
      }
  }


  @media screen and (max-width: 500px) {
    .my-email {
      font-size: 22px;
    }
  }

  @media screen and (min-width: 701px) {
    .write-me {
          font-size: 40px;
      }
  }


  @media screen and (max-width: 500px) {
    .write-me {
      font-size: 25px;
    }
  }

  @media screen and (min-width: 701px) {
    .email-image {
          width: 50px;
          height: 50px;
      }
  }


  @media screen and (max-width: 500px) {
    .email-image {
      width:30px;
      height: 30px;
      margin-top: 5px;
    }
  }
   
  /*-------------arrow--------------*/
  #arrow {
    width: 20px;
    height: 30px;
    background-image: url(tools/up2.png);
    background-size: contain;
    background-repeat: no-repeat;  
  }

  #goHome {
    width: 20px;
    height: 30px;
  }
